<form action="/sessions" method="post">
  <p>
    <input type="text" name="height" placeholder="Enter your height"/> cm
  </p>
  <p>
    <input type="submit" value="Store my height"/>
  </p>
  
</form>